
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.slider1{
	background-image: url('images/slider1.jpg');
	size: cover;
	background-position: center;

}
.slider2{
	background-image: url('images/slider2.jpg');
	size: cover;
	background-position: center;	
}


